.search-bar {
    display:inline-block;
    margin: auto;
}

.search-autocomplete{
    display: inline-block;
    vertical-align: middle;
}

.search-button { 
    vertical-align: middle;
    display: inline-block;
}